h1{

    color: black;
    font-size: 45px;
    text-align: center;

}


.parrafo{

    color: black;
    font-size: 14px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 30px;
}

h2{

    color: black;
    font-size: 35px;
    text-align: center;

}

div{
padding-left: 700px;
}

h3{
    color: black;
    font-size: 30px;
    text-align: center;
}



table{
    width: 25%;
}

td{
    width: 40%;
    text-align: center;
    vertical-align: middle;
}
h4{
    color: black;
    font-size: 17px;
    text-align: left;
}